body{
font-family:helvetica,arial,sans-serif
font-size: small
} 
h1, h2, h3, h4, h5, h6 { font-family: Lucida Sans Unicode, Lucida Grande, sans-serif; }
#header {
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  width: 800px;
  background-color: #0000FF;
  color: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
#header h1 {
  margin-top: 10px;
  font-size: 28px;
}
#footer {
  padding: 8px;
  width: 800px;
  background-color: #000000;
  color: white;
  margin-top: 12px;
  margin-bottom: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
    margin-left: auto;
  margin-right: auto;
}
#content {
  padding: 8px;
  width: 800px;
  margin-top: 12px;
  margin-bottom: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
    margin-left: auto;
  margin-right: auto;
}

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

a.ovalbutton{
background: transparent url('../images/oval-gray-left.gif') no-repeat top left;
display: block;
float: left;
font: normal 13px Tahoma; /* Change 13px as desired */
line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
height: 24px; /* Height of button background height */
padding-left: 11px; /* Width of left menu image */
text-decoration: none;
}

a:link.ovalbutton, a:visited.ovalbutton, a:active.ovalbutton{
color: #494949; /*button text color*/
}

a.ovalbutton span{
background: transparent url('../images/oval-gray-right.gif') no-repeat top right;
display: block;
padding: 4px 11px 4px 0; /*Set 11px below to match value of 'padding-left' value above*/
}

a.ovalbutton:hover{ /* Hover state CSS */
background-position: bottom left;
}

a.ovalbutton:hover span{ /* Hover state CSS */
background-position: bottom right;
color: black;
}

.buttonwrapper{ /* Container you can use to surround a CSS button to clear float */
overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
width: 100%;
}